* {
    margin: 0;
    padding: 0;
}

.min-height-12 {
    min-height: 1100px
}

.beer-img {
    width: 280px;
    height: 500px;
    cursor: pointer;
}

.beer-img:hover {
    transform: scale(1.1, 1.1);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 0 auto;
}

.modal-img {
    width: 230px;
    height: 500px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    width: 100vw;
    height: 100vw;
}